.backsearch-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.flecha {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: calc(.8vw + .2rem);
    font-weight: 700;
    width: 6vw;
    height: 4vh;
    background-color: rgba(0, 0, 0, .45);
    border: .1vw white solid;
    border-radius: 3vw;
    position: absolute;
    top: 12vh;
    left: 1.1vw;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transition:    -moz-transform .2s ease-in-out;
    -ms-transition:     -ms-transform .2s ease-in-out;
    -o-transition:      -o-transform .2s ease-in-out;
    transition:         transform .2s ease-in-out;
}

.flecha:hover {
    color: #b5edfc;
    border: .1vw #b5edfc solid;
    cursor: pointer;
    transform: scale(1.05);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transition:    -moz-transform .2s ease-in-out;
    -ms-transition:     -ms-transform .2s ease-in-out;
    -o-transition:      -o-transform .2s ease-in-out;
    transition:         transform .2s ease-in-out;
}